html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#myBtn {
    margin-top: 20px;
    text-align: inherit;
    background-color: #171818;
}


.mutual-btn {
    height: 40px;
    width: 222px;
    border-radius: 10px;
    text-align: inherit;
}

.crd-stls {
    border-radius: 15px;
}

@media screen and (max-width: 470px) {

    .crd-stls {
        width: 100% !important;
    }


}

@media screen and (max-width: 290px) {

    .mutual-btn {
        width: 97% !important;
    }
}

@media screen and (max-width: 260px) {

    .mutual-btn {
        margin-left: -13px;
    }

    .card {
        margin-left: -12px !important;
    }
}

